

.button-primary {
  background-color: var(--sage);
  color: var(--ivory);
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.125rem;
}
.button-primary:last-of-type {
    margin-inline-end: 1rem;
}
